<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head>
    <meta charset="UTF-8">
    <title>Welcome</title>
    <link rel="stylesheet" type="text/css" th:href="@{css/style.css}">
</head>
<body>
<div layout:fragment="content">
   <div class="container top-spacer">
       <h1 class="alert alert-success">Welcome to our web site </h1>
       <div class="text-center">
           <img th:src="@{images/book.jpg}" alt="book" >
       </div>
   </div>
</div>
</body>
</html>
