<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head>
    <meta charset="UTF-8">
    <title>Products</title>
    <link rel="stylesheet" type="text/css" th:href="@{css/style.css}">
</head>
<body>
<div layout:fragment="content">

    <div class="container top-spacer">
        <form th:action="@{/products/search}" method="get">
            <div class="form-group">
                <label for="mc">Search :</label>
                <input type="text" id="mc" name="mc" class="form-control" th:value="${mc}" />
            </div>
            <button class="btn btn-primary">Search</button>
        </form>
    </div>
    <div class="container top-spacer">
        <div class="card">
            <div class="card-header">List of Products</div>
            <div class="card-body">
                <table class="table table-striped">
                    <tr>
                        <th>#</th><th>Name</th><th>Price</th>
                    </tr>
                    <tr th:each=" p , iter :${products}">
                        <td th:text="${iter.index}"></td>
                        <td th:text="${p.name}"></td>
                        <td th:text="${p.price}"></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
</body>
</html>
